body {
	background-color: white;
}
.border-bold 
{
	box-sizing: border-box;
	border: 2px solid #000; 
}
.border-light 
{
	
	border: 2px solid #000 !important; 
}
p
{
	color: black;
}
.scrollable-window
{
	height: 70vh; 
    overflow-y: scroll;
    background-color: #f8f9fa; 
    padding: 20px;
}
.scrollable-window-x
{
	height: 70vh; 
    overflow-x: scroll;
    background-color: #f8f9fa; 
    padding: 20px;
}
.brand {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 2px solid transparent;
}

/* collection */
.collection {
	height: 350px;
	display: flex;
	flex-direction: column;
	background-color: #fdd7e2;
}
.collection > .collection-img {
	position: relative;
	background-color: white;
	width: 100%;
	flex: 2;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: contain;
}
.collection > .collection-img > img{
	max-width: 100%;
	max-height: 100%;
	object-fit:contain;
	height: auto;
	width: auto;
}
.collection > .collection-title{
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	object-fit: contain;
}
/* product */
.product-info {
	height: 80vh;
	display: flex;
	flex-direction: column;
	background-color: #fdd7e2;
	justify-content: center;
	align-items: center;
}
.product-info-img {
	position: relative;
	background-color: white;
	width: 100%;
	flex: 3;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.product-info-img img{
	max-width: 100%;
	max-height: 100%;
	object-fit:contain;
}
.product-info-title{
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}
.product-info-prict{
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}
.cart-form{
	width: 100%;
	display:flex;
	flex: 1;
	flex-direction: row;
}
.quantity-selector {
	width:50%;
}
.quantity-input {
    width: 25%;
    height:45px;
    text-align: center;
} 
.quantity-btn {
	width: 25%;
    height:45px;
	padding: 5px 10px;
}
.add-to-cart {
	width: 45%;
	height: 45px;
}

/* colored products */
#colorbased-products {
	height: 80vh;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: flex-start;
	display: flex;
	flex-flow: row wrap;
}
.colored-product {
	height: 100px;
	width:50px;
	margin: 5px 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 2px solid transparent;
}
.colored-product > .colored-product-img {
	position: relative;
	background-color: white;
	width: 100%;
	flex: 3;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.colored-product-img img{
	max-width: 100%;
	max-height: 100%;
	object-fit:contain;
}

.colored-product > .colored-product-title {
	background-color: #f1f1f1;
	width: 100%;
	display: flex;
	flex:1;
	justify-content: center;
	align-items: center;
	
} 
#special-products {
	height: 20vh;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: flex-start;
	display: flex;
	flex-flow: row wrap;
}
.special-product {
	height: 100px;
	width:35%;
	margin: 10px 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 2px solid transparent;
}
.special-product > .special-product-img {
	position: relative;
	background-color: white;
	height: 100%;
	flex: 1;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.special-product-img img{
	max-width: 100%;
	max-height: 100%;
	object-fit:contain;
}

.special-product > .special-product-title {
	background-color: #f1f1f1;
	height: 100%;
	display: flex;
	flex:1;
	
}

/* cart */
.cart-div {
	background-color: white;
	height:100vh
}